extends layout

block content
    .container
    if IsSupplier
      .row.centered.new-prd-btn
        .col-xs-10
        .col-xs-2
          a(href="http://yahoo.com").btn.btn-primary="Add New Product"
    .row.centered
      .col-xs-12
        .product-box
          h3= "Future Products"
          i.fa.fa-plus-square-o.expand-btn.fa-3x
          ul.row.list-unstyled
            each p in Future
              li.col-md-3
                a(href="/productPage?pid=" + p.id)
                  img(src=p.ProductImage)
                a(href="/productPage?pid=" + p.id)
                  p=p.ProductName
                //p Start date is:  #{p.BidStartDate}
                //p End date is: #{p.BidEndDate}
                p=p.ProductDescription

    .row.centered
      .col-xs-12
        .product-box
          h3= "Current Products"
          i.fa.fa-plus-square-o.expand-btn.fa-3x
          ul.row.list-unstyled
            each p in Current
              li.col-md-3
                a(href="/productPage?pid=" + p.id)
                  img(src=p.ProductImage)
                a(href="/productPage?pid=" + p.id)
                  p=p.ProductName
                //p Start date is:  #{p.BidStartDate}
                //p End date is: #{p.BidEndDate}
                p=p.ProductDescription
    .row.centered
      .col-xs-12
        .product-box
          h3= "Past Products"
          i.fa.fa-plus-square-o.expand-btn.fa-3x
          ul.row.list-unstyled
            each p in Past
              li.col-md-3
                a(href="/productPage?pid=" + p.id)
                  img(src=p.ProductImage)
                a(href="/productPage?pid=" + p.id)
                  p=p.ProductName
                //p Start date is:  #{p.BidStartDate}
                //p End date is: #{p.BidEndDate}
                p=p.ProductDescription


  script.
      $('.expand-btn').on('click', function(){
          $(this).toggleClass('fa-plus-square-o');
          $(this).toggleClass('fa-minus-square-o');
          $(this).next("ul").toggle();
      });