extends layout

block content
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand= "Realtime Auction"
      a#login-icon
        i.fa.fa-user-circle-o.fa-3x
  .container
    if IsSupplier
      .row.centered.new-prd-btn
        .col-xs-10
        .col-xs-2
          a(href="http://yahoo.com").btn.btn-primary="Add New Product"
    .row.centered
      .col-xs-12
        .jumbotron.product-box
          h3= "Future Products"
          i.fa.fa-plus-square-o.expand-btn.fa-3x
          ul.row.list-unstyled
            each p in Future
              li.col-md-3
                img(src=p.ProductImage)
                p=p.ProductName
    .row.centered
      .col-xs-12
        .jumbotron.product-box
          h3= "Current Products"
          i.fa.fa-plus-square-o.expand-btn.fa-3x
          ul.row.list-unstyled
            each p in Current
              li.col-md-3
                img(src=p.ProductImage)
                p=p.ProductName
    .row.centered
      .col-xs-12
        .jumbotron.product-box
          h3= "Past Products"
          i.fa.fa-plus-square-o.expand-btn.fa-3x
          ul.row.list-unstyled
            each p in Past
              li.col-md-3
                img(src=p.ProductImage)
                p=p.ProductName

  script.
    $('.expand-btn').on('click', function(){
        $(this).toggleClass('fa-plus-square-o');
        $(this).toggleClass('fa-minus-square-o');
      $(this).next("ul").toggle();
    });