extends layout

block content
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        a.navbar-brand= "Realtime Auction"
        a#login-icon
            i.fa.fa-user-circle-o.fa-3x
    .container
        .row.centered
            .col-xs-12
                .jumbotron.product-box
                    h3= "Future Products"
                    i.fa.fa-plus-square-o.expand-btn.fa-3x
                    ul.row
                        each p in Future
                            li.col-md-4
                                img(src=p.ProductImage)
                                p=p.ProductName
        .row.centered
            .col-xs-12
                .jumbotron.product-box
                    h3= "Current Products"
                    i.fa.fa-plus-square-o.expand-btn.fa-3x
                    ul.row
                        each p in Current
                            li.col-md-4
                                img(src=p.ProductImage)
                                p=p.ProductName
        .row.centered
            .col-xs-12
                .jumbotron.product-box
                    h3= "Past Products"
                    i.fa.fa-plus-square-o.expand-btn.fa-3x
                    ul.row
                        each p in Past
                            li.col-md-4
                                img(src=p.ProductImage)
                                p=p.ProductName

    script.
        $('.expand-btn').on('click', function(){
            $(this).toggleClass('fa-plus-square-o');
            $(this).toggleClass('fa-minus-square-o');
            $(this).next("ul").toggle();
        });