doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bidder.css')
    link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
    link(href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css"  rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src='/javascripts/admin.js')
    script(src='/socket.io/socket.io.js')
    script(src='https://cloud.tinymce.com/stable/tinymce.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js")    
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")    
    script(src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js")

  body
    if IsLoggedin
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        a(href="/dashboard").navbar-brand
          img(src="/images/logo.png")#logo
        div#user
          p=UserName
        #login-icon
          i.fa.fa-user-circle-o.fa-3x
        ul#menu
          if IsNotAdmin
            if IsSupplier
              li
                a(href='/myProducts')="My Products"
            else
              li
                a(href='/myProducts')="My Bids"
            li
              a(href='/users')="Edit Profile"
          li
            a(href='/logout')="Logout"
    block content
    footer
      p="In case of any problem, report to "
        b
          a(href="mailto:admin.realtimeauction@gmail.com")="admin.realtimeauction@gmail.com"

    script.
        $('#login-icon').on('click', function () {
            $('#menu').toggle();
        });


